extends header


block header
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/js/board.js')
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  link(rel='stylesheet', href='/styles/board.css')
  .board(style='background-image:url('+board.image+')')
    .board-header(boardId=board._id)
      span(style='padding:5px; color:#fff;')=board.title 
      .dropdown
        if group 
          button.board-header-btn(type='button' data-toggle="dropdown")
            i.fas.fa-user-friends &nbsp; 
              span= group.title
          .dropdown-menu.dropdown-menu-left(style='color=#003333')
            p(style='text-align:center;background-color:#e5ffec; margin: 0px; padding: 5px;' id="groupId" groupId=group._id)=group.title  
            a.dropdown-item(href='#') Đổi nhóm 
            a.dropdown-item(href='/group/'+group._id) Xem trang của nhóm
        else 
          button.board-header-btn(type='button' data-toggle="dropdown")
            i.fas.fa-user-friends &nbsp; 
              span Bảng cá nhân 

      .dropdown
        button.board-header-btn(type='button' data-toggle="dropdown")
          i.fas.fa-users &nbsp; Hiện với nhóm 
        .dropdown-menu.dropdown-menu-left(style='color=#003333')
          a.dropdown-item(href='#') Riêng tư 
          a.dropdown-item(href='#') Nhóm 
          a.dropdown-item(href='#') Công khai
      .dropdown
        button.board-header-btn(type='button' data-toggle="dropdown")
          i.fas.fa-star-of-david &nbsp; Mời 
        .dropdown-menu.dropdown-menu-left(style='color=#003333')
          p(style='text-align:center;background-color:#e5ffec; margin: 0px; padding: 5px;')     Mời vào bảng  
          input.form-control(placeholder='Địa chỉ email hoặc tên ...')
          hr
          button.btn.btn-info(style='float: right; margin: 8px;') Gửi lời mời 

      .dropdown.right(style='float: right;')
        button.board-header-btn(type='button' data-toggle="dropdown")
          i.fas.fa-ellipsis-h &nbsp; Hiện menu
        .dropdown-menu.dropdown-menu-right(style='color:#003333; width: 500px; height: 1000px; padding: 15px; overflow: auto;')
          p(style='text-align:center; margin: 0px; padding: 5px;')     MENU 
          hr 
          .backgroud-board
            h6 Thay đổi hình nền
            .bg-changes
              -for(var i=1; i<=12; i++)
                .bg-change(style='background-image:url(/image/bg/'+i+'.jpg); height: 80px; width:140px; display: inline-block; margin: 5px;background-size: cover;background-position: center; cursor: pointer; ' boardId=board._id bg="/image/bg/"+i+".jpg")

          hr
          .window-module-title.history-board(style="margin-top: 0px;display: block;")
            div(style='padding: 5px;color: #777;margin-bottom: 5px;')
              i.fas.fa-tasks &nbsp; Hoạt động 
            .hoat-dong-boardId(id="hd"+board._id)
              if board.histories
                -for (var i = board.histories.length -1; i>=0; i--)
                  .js-menu-action-list
                    .phenom
                      .phenom-creator
                        .member
                          span.member-initials
                            i.far.fa-user 
                      .phenom-desc
                        span.inline-member= board.histories[i].header
                        div(style="color:#777;")= board.histories[i].content
                        -
                          var date = new Date(board.histories[i].timeCreated)
                        -
                          var day = date.getDate()
                        -
                          var month = date.getMonth()+1
                        -
                          var year = date.getFullYear()
                        -
                          var hour = date.getHours()
                        -
                          var minute = date.getMinutes()
                        -
                          var second = date.getSeconds()
                      .phenom-meta 
                        span=day+"-"
                        span=month+"-"
                        span=year+" "
                        span=hour+":"
                        span=minute+":"
                        span=second

      .dropdown.right(style='float: right;')
        button.board-header-btn(type='button' data-toggle="dropdown")
          i.fas.fa-chart-bar &nbsp; Thống Kê
        .dropdown-menu.dropdown-menu-right(style='color:#003333; width: 500px; height: 900px; padding: 15px; overflow: auto;')
          p(style='text-align:center; margin: 0px; padding: 5px;')     THỐNG KÊ 
          div#taskDistribution(style='width: 500px; height: 260px ; margin-top : 12px' taskDistribution=taskDistribution taskComplement=taskComplement taskOverDeadline=taskOverDeadline userDisplayName=userDisplayName)
          div#taskComplement(style='width: 500px; height: 260px ; margin-top : 12px' taskDistribution=taskDistribution taskComplement=taskComplement taskOverDeadline=taskOverDeadline userDisplayName=userDisplayName)
          div#taskOverDeadline(style='width: 500px; height: 260px ; margin-top : 12px' taskDistribution=taskDistribution taskComplement=taskComplement taskOverDeadline=taskOverDeadline userDisplayName=userDisplayName)



    .board-body
      if board.lists
        each _list in board.lists  
          .board-list(id='list'+_list._id)
            .board-list-content
              .list-title
                .title 
                  input.title-list.mod-card-back-title(dir='auto' value=_list.title style='overflow: hidden; overflow-wrap: break-word; height: 32px;width: 100%;color: #5e6c84;' listId=_list._id)
                .mn.dropdown
                  i.fas.fa-ellipsis-h(type='button' data-toggle="dropdown")
                    .dropdown-menu.dropdown-menu-left(style="border: 2px solid red;")
                      button.dropdown-item(listId=_list._id listTitle=_list.title boardId=board._id ) Xóa danh sách

              
              .list-card(id="list-card"+_list._id)
                if _list.cards
                  each _card in _list.cards
                    a.card-name(id="card-name"+_card._id href="" data-toggle="modal" data-target="#the"+_card._id cardId=_card._id boardId=board._id)= _card.title
                      .check-comment
                        i.far.fa-comment &nbsp; 
                          span= _card.commentsCount
                        i.far.fa-check-square &nbsp;
                          span= _card.completedTasksCount
                          span /
                          span= _card.tasksCount
                        

                    .modal.fade(id="the"+_card._id)
                      form
                        .modal-dialog.modal-lg
                          .modal-content
                            // Modal Header
                            .modal-header
                              span(style='margin-right: 15px;padding: 5px;')
                                i.far.fa-credit-card
                              .window-title
                                input.title-card.mod-card-back-title(dir='auto'  value=_card.title style='overflow: hidden; overflow-wrap: break-word; height: 32px;' cardId=_card._id)
                              button.close(type='button', data-dismiss='modal') &times;
                            // Modal body
                            .modal-body
                              .row
                                .window-main-col.col-9
                                  .card-detail-data
                                  .js-fill-card-detail-desc
                                    .window-module
                                      .window-module-title
                                        span(style='margin-right: 15px;padding: 5px;')
                                          i.fas.fa-bars &nbsp; 
                                        h5 Mô tả
                                      .u-gutter
                                        .editable
                                          .description-content
                                            .current
                                              p lam bai tap
                                            p.u-bottom
                                              if _card.description==""
                                                a(href="#").description-fake-text-area Thêm mô tả chi tiết hơn...
                                              else 
                                                a(href="#").description-fake-text-area=_card.description
                                              
                                            .description-edit
                                              textarea.update-des.form-control(type="text" name="description" autocomplete="off" dir="auto" placeholder="Thêm mô tả chi tiết hơn... " value=_card.description )
                                              .list-add-controls
                                                button.update-description.btn.btn-success(type="button" cardId=_card._id) Lưu 
                                                a#xxx(href="#" style="padding: 8px;")
                                                  i.fas.fa-times
                                  .checklist-list
                                    .checklist(id="checklist"+_card._id)
                                      .window-module-title
                                        span(style='margin-right: 15px;padding: 5px;')
                                          i.fas.fa-tasks &nbsp; 
                                        .editable.checklist-title
                                          input.title-list.mod-card-back-title(dir='auto' value=_list.title style='overflow: hidden; overflow-wrap: break-word; height: 32px;width: 90%;color: #5e6c84;' listId=_list._id)
                                          a(href='#').button.subtle Xóa
                                      //- .checklist-progress
                                      //-   span.checklist-progress-percentage 0%
                                      //-   .checklist-progress-bar
                                      //-     .checklist-progress-bar-current
                                      //- .checklist-items-list.custom-control.custom-checkbox
                                      //-   input.customCheck.custom-control-input(type='checkbox')
                                      //-   label.custom-control-label(for="customCheck")
                                      //-   p(href="#").checklist-item work 1
                                      //-     a(href='#').button.subtla 
                                      //-       i.fas.fa-times
                                      //- .checklist-new-item
                                      //-   a#themm.button.subtle(href="#" style
                                      //-   ="float: left; margin-left: 53px; margin-top: 10px") Thêm một mục 
                                      //-   .description-editt(style="margin-left: 53px; display:none;")
                                      //-     textarea.form-control(type="text" name="" autocomplete="off" dir="auto" placeholder="Thêm mô tả chi tiết hơn... ")
                                      //-     .list-add-controls
                                      //-       input.primary(type="submit" value="Lưu")
                                      //-       a#xxy(href="#" style="padding: 8px;")
                                      //-         i.fas.fa-times
                                  .window-module(style='margin-top:20px')
                                    .window-module-title
                                      span(style='margin-right:15px;padding: 5px; color: #777; margin-left: 10px;')
                                        i.fas.fa-tasks(style="font-size: 20px;") &nbsp; Hoạt động 
                                    .new-comment
                                      .member
                                        if user
                                          span.member-initials(title=user.displayName) 
                                            i.far.fa-user(style='font-size: 20px;')
                                      form
                                        input.form-control.comment-his(placeholder='Viết bình luận...', dir='auto', style='' cardId=_card._id )
                                    .hoat-dong-card(id="hd"+_card._id style="margin-top: 20px;")

                                                                     




                                .col-3
                                  .window-sidebar
                                    h3 THÊM VÀO THẺ 
                                  .u-clearfix
                                    .dropdown
                                      a.button-link(type='button' data-toggle="dropdown")
                                        i.fas.fa-address-book(style='font-size: 18;font-weight: 400;') &nbsp; Việc cần làm 
                                      .dropdown-menu.dropdown-menu-left(style='color=#003333; width: 300px; padding: 10px;')
                                        h6(style="text-align: center; color: #666;") Thêm danh sách công việc
                                        input.vieccanlam.form-control(id="themviec"+_card._id  placeholder='Việc cần làm')
                                        br
                                        button.themcongviec.btn.btn-success(type="button" style='float: right; margin: 8px;' cardId=_card._id) Thêm 
                                    .dropdown
                                      a.button-link
                                        i.far.fa-user(style='font-size: 18;font-weight: 400;') &nbsp; Thành viên 
                                    .dropdown
                                      a.button-link
                                        i.fas.fa-clock(style='font-size: 18;font-weight: 400;') &nbsp; Ngày hết hạn

                             
                              

                     
                              //- button.btn.btn-info(style='float: right;margin-top:10px;') Lưu






                .card-composer(id='card'+_list._id)
                  form(action="/card/create" method="POST")
                    .js-composer
                      textarea.form-control.themthe(name='title' placeholder="Nhập tiêu đề cho thẻ này..." dir="auto" style="")
                    .cc-controls
                      .cc-controls-section
                        input(type='text' name="listId" value=_list._id style="display:none;")
                        input(type='text' name="boardId" value=board._id style="display:none;")
                        input.primary.themthe(type="submit" value="Thêm thẻ" id=_list._id)
                        a(href="#" style="display:inline-block;padding-left: 5px;")
                          i.fas.fa-times.thoatnhe(id='thoat'+_list._id )
              .list-add(id='add'+_list._id )
                a(href="#")
                  i.fas.fa-plus &nbsp; Thêm thẻ khác


      .board-list
        form(method='POST' action='/list/create')
          a#them1(href='#').add-list
            i.fas.fa-plus(style='color: #fff;')  &nbsp;   Thêm danh sách khác 
          .submit
            input.form-control(type="text" name="title" autocomplete="off" dir="auto" placeholder="Nhập tiêu đề danh sách... ")
            input(type='text' name='boardId' value=board._id style='display:none;')
            .list-add-controls
              input.primary(type="submit" value="Thêm danh sách")
              a#them2(href="#" style="padding: 8px;")
                i.fas.fa-times




    script.
     
