extends header


block header
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/js/home.js')
  style.
    .bodyleft a {
    display: block;
    color: #fff;
    text-align: left;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    border-radius: 4px;
    background-color: #006666;
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
    }
    .bodyleft a:hover {
    background-color: #005c6a;
    line-height: 24px;
    box-shadow: 1px 1px 8px #888888;
    }
    .bodyleft p{
    padding-left: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
    }
    .bodyright a{
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 120px;
    border-radius: 4px;
    //- background-color: #ecf9f9;
    margin: 5px;
    width: 250px;
    height: 120px;
    box-shadow: 1px 1px 5px #888888;
    background-size: cover;
    font-weight: bold;
    background-position: center;
    text-shadow: 3px 3px 30px #000000;
    }
    .bodyright a:hover {
    width: 251px;
    height: 121px;
    box-shadow: 1px 1px 8px #888888;
    }
    .bodyright p {
    padding-left: 20px;
    margin-top: 25px;
    }
    .bodyright a.gr {
    float: right;
    overflow: hidden;
    display: inline-block;
    color: #003333;
    text-align: left;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    background-color: #e1eaea;
    margin: 0px 5px;
    width: auto;
    height: auto;
    }
    .bodyright i {
    overflow: hidden;
    display: inline-block;
    color: #003333;
    text-align: left;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    border-radius: 4px;
    margin: 0px;
    width: auto;
    height: auto;
    }
    .bodyright a.new {
    color: #fff;
    text-align: center;
    line-height:120px;
    background-color: rgba(9,30,66,.06);
    box-shadow: 0px 0px 0px #888888;
    font-weight: normal;
    text-shadow: 0px 0px 0px #000000;
    }
    .bodyright a.new:hover {
    background-color: rgba(9,30,66,.09);
    }
    
  .container-fluid(style='padding-top:40px; background-image: url("/image/bg-home1.jpg"); background-position: center;   background-size: cover;   height: -webkit-fill-available;')
    .row
      .col-2.bodyleft
        a(href="/home")
          i.fas.fa-home  &nbsp; Trang chủ 
        a(href="/home") 
          i.fas.fa-border-all  &nbsp; Bảng 
        p(style='color: #fff')   CÁC NHÓM 
        if groups
          each _group in groups
            a(href="/group/"+_group._id)
              i.fas.fa-users  &nbsp;
                span=_group.title 

      .col-10.bodyright
        p
          i.fas.fa-history  &nbsp; Đã xem gần đây 
        if recents
          each _recent in recents  
            a(href="/board/"+_recent.boardId  style='background-image:url('+_recent.image+')')=_recent.title
              

        p
          i.fas.fa-user  &nbsp; Bảng cá nhân
        if privateBoards 
          each _board in privateBoards  
            if  (_board.nextDeadline.taskTitle !="" && _board.nextDeadline.time !=-1)
              a(href="/board/"+_board._id style='background-image:url('+_board.image+')'  title=_board.nextDeadline.taskTitle +" sẽ hết hạn vào "+_board.nextDeadline.time )=_board.title 
            else 
              a(href="/board/"+_board._id style='background-image:url('+_board.image+')')=_board.title
              
        a.new(href="#" data-toggle="modal" data-target="#taobang")  Tạo bảng mới
        p
        if groups
          each _group in groups
            i.fas.fa-users.ml-3  &nbsp;
              span= _group.title 
            br
            each _board in _group.boards 
              if  (_board.nextDeadline.taskTitle !="" && _board.nextDeadline.time !=-1)
                a(href="/board/"+_board._id style='background-image:url('+_board.image+')'  title=_board.nextDeadline.taskTitle +" sẽ hết hạn vào "+_board.nextDeadline.time )=_board.title 
              else 
                a(href="/board/"+_board._id style='background-image:url('+_board.image+')')=_board.title
     
            a.new(href="#" data-toggle="modal" data-target="#taobangnhom"+_group._id)  Tạo bảng mới
            br
            div(id="taobangnhom"+_group._id).modal.fade
              form(action="/board/create" method='POST')
                .modal-dialog
                  .modal-content
                    // Modal Header
                    .modal-header
                      input.modal-title.form-control(placeholder='Thêm tiêu đề bảng' name='title')
                      button.close(type='button', data-dismiss='modal') &times;
                    // Modal body
                    .modal-body
                      select.browser-default.custom-select(name='groupId') Nhóm 
                        option(selected='' value=_group._id)= _group.title
             
                      button.btn.btn-info(style='float: right;margin-top:10px;') Tạo bảng   

