extends header


block header
  style.
    .bodyleft a{
    display: block;
    color: #003333;
    text-align: left;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    border-radius: 4px;
    background-color: #ecf9f9;
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
    } 
    .bodyleft a:hover {
    background-color: #e5fff9;
    line-height: 24px;
    box-shadow: 1px 1px 8px #888888;
    }
    .bodyleft p{
    padding-left: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
    }
    .bodyright a{
    display: inline-block;
    color: #003333;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 120px;
    border-radius: 4px;
    background-color: #ecf9f9;
    margin: 5px;
    width: 250px;
    height: 120px;
    box-shadow: 1px 1px 5px #888888;
    }
    .bodyright a:hover {
    width: 255px;
    height: 125px;
    box-shadow: 1px 1px 8px #888888;
    }
    .bodyright p {
    padding-left: 20px;
    margin-top: 25px;
    }
    .bodyright a.gr {
    float: right;
    overflow: hidden;
    display: inline-block;
    color: #003333;
    text-align: left;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    background-color: #e1eaea;
    margin: 0px 5px;
    width: auto;
    height: auto;
    }
    .bodyright i {
    overflow: hidden;
    display: inline-block;
    color: #003333;
    text-align: left;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    border-radius: 4px;
    margin: 0px;
    width: auto;
    height: auto;
    }
    .bodyright a.new {
    text-align: center;
    line-height:120px;
    background-color: #c3d5d5;
    }
    .bodyright a.new:hover {
    background-color: #d2e0e0;
    }

  .container-fluid(style='margin-top:40px')
    .row
      .col-3.bodyleft
        a(href="/")
          i.fas.fa-home  &nbsp; Trang chủ 
        a(href="/board") 
          i.fas.fa-border-all  &nbsp; Bảng 
        p   CÁC NHÓM 
        each _group in groups
          a(href="/group/"+_group._id)
            i.fas.fa-users  &nbsp;
              span=_group.title 
      .col-9.bodyright
        p
          i.fas.fa-history  &nbsp; Đã xem gần đây 
        each _recent in recents  
          a(href="/board")=_recent.title
        p
          i.fas.fa-user  &nbsp; Bảng cá nhân 
        each _board in privateBoards  
          a(href="/board")=_board.title 
        a.new(href="#" data-toggle="modal" data-target="#taobang")  Tạo bảng mới
        p
        each _group in groups
          i.fas.fa-users  &nbsp;
            span= _group.title 
          br
          each _board in _group.boards 
            a(href="/board")=_board.title
          a.new(href="#" data-toggle="modal" data-target="#taobang")  Tạo bảng mới


      script(src='/socket.io/socket.io.js')
  script.
    const socket = io.connect('http://localhost:3001');
    socket.on('broadcast', (data) => {
    console.log(" // "  + data);
    });