extends header

block header
  style.
    .tabbed-pane-header {
    background: rgba(0, 0, 0, 0.04);
    }
    .tabbed-pane-header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 650px;
        padding: 32px;
        position: relative;
    }
    .tabbed-pane-header-content {
        display: flex;
    }
    .tabbed-pane-header-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 0 20px;
    }
    ._1mh0u4cBAMhD4p {
        margin-bottom: 8px;
        font-weight: 900;
        height: 40px;
        font-size: 30px;

    }
    ._2DZdmHnY2Nw7gI {
        margin-top: 8px;
    }
    ._2DZdmHnY2Nw7gI:hover{
    background: rgba(9, 30, 66, 0.09);
    }
    .org-profile-avatar{
    height: 120px;
    width: 120px;
    }
    .tabbed-pane-nav {
    background: rgba(0, 0, 0, 0.04);
    position: relative;
    text-align: center;
    border-bottom: 1px solid #00b3b3;
    }
    .tabbed-pane-nav-item {
        display: inline-block;
    }
    .tabbed-pane-nav-item-button {
        background: rgba(9, 30, 66, 0.15);
        border: 1px solid #00b3b3;
        border-bottom: 0px;
        border-radius: 4px 4px 0 0;
        display: inline-block;
        font-weight: 700;
        margin: 2px 2px -1px;
        padding: 8px 20px;
        text-decoration: none;
        box-sizing: border-box;
    }
    .tabbed-pane-nav-item-button {
    border-bottom: 0;
    }
    .css-1a1cwqg {
        -webkit-box-align: baseline;
        align-items: baseline;
        box-sizing: border-box;
        display: inline-flex;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        max-width: 100%;
        text-align: center;
        white-space: nowrap;
        box-shadow: none;
        color: rgb(23, 43, 77);
        cursor: default;
        height: 2.28571em;
        line-height: 20px;
        vertical-align: middle;
        width: auto;
        border-width: 0px;
        text-decoration: none;
        background: rgba(9, 30, 66, 0.04);
        border-radius: 4px;
        padding: 6px 12px;
        transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
        outline: none !important;
    }
    .tabbed-pane-nav-item a {
    color: #003333;
    }
    .a2:hover {
     text-decoration: none;
     background: rgba(9, 30, 66, 0.09);
    }

    .a1 {
        background: rgba(9, 30, 66, 0.0);
    }
    .tabbed-pane-main {
    background: #f2f2f2;
    }
    img.avt{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid #17a2b8;
    }
    #result{
    position: absolute;
    width: 740px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 500px;
    box-sizing: border-box;
    z-index: 1001;
    margin-top: -1rem;
    }
    .list-group-item:hover{
    background-color: #f1f1f1;
    }


    .org-members-list{
    border-radius: 15px;
    background: rgba(9, 30, 66, 0.09);
        border-top: 1px solid #dfe1e6;
        margin-top: 50px;
    }
    .member-list-item-detail {
        margin-left: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(9,30,66,.13);
    min-height: 40px;
    padding: 12px 0 12px 40px;
    position: relative;
    }
    .member-list-item-detail .member {
    position: absolute;
    top: 16px;
    left: 0;
    margin: 0;
    }
    .member-list-item-detail .details {
    margin-left: 20px;
    float: left;
    flex: 1 0 auto;
    }
    .member-list-item-detail .options {
    flex: 0;
    }
    .member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    }
    .member-list-item-detail .name-line {
    margin-bottom: 0;
    }
    .quiet {
    color: #5e6c84;
    }
    .member-list-item-detail .options .option.quiet-button {
    padding: 7px 9px;
    }
    ._1Q1Tsm1-Mf2yjR {
    float: left;
    position: relative;
    }
    ._2QHGiFeX1fe40- {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgba(9,30,66,.04);
    border-radius: 3px;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #a5adba;
    display: block;
    height: 32px;
    margin: 4px 0 2px 8px;
    min-width: 95px;
    padding: 6px 12px;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    }
    .member-list-item-detail .options .option .button-link.remove-button {
    min-width: 115px;
    }
    .member-list-item-detail .options .option.button-link {
    padding-right: 12px;
    }
    .button-link {
    background-color: rgba(9,30,66,.04);
    box-shadow: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 32px;
    margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    transition-property: background-color,border-color,box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    }

    .member  {
    background-color: #dfe1e6;
    border-radius: 25em;
    color: #172b4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 32px;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 0;
    }
  .bg-group(style=' background-image: url("/image/bg-group.jpg"); background-position: center;   background-size: cover;   height: -webkit-fill-available;')
    .tabbed-pane-header
      .tabbed-pane-header-wrapper
        .tabbed-pane-header-content
          .org-profile-avatar
            img.avt(src="/image/group.png", alt="")
          .tabbed-pane-header-details
            .js-current-details
              .js-react-root
                #groupId._1mh0u4cBAMhD4p(groupId=group._id)=group.title 
                button._2DZdmHnY2Nw7gI.css-1a1cwqg
                  i.fas.fa-pencil-alt   
                  span &nbsp; Chỉnh Sửa Lý Lịch Nhóm 
    .tabbed-pane-nav
      ul(style='margin-bottom: 0px;')
        li.tabbed-pane-nav-item
          a(href="/group/"+group._id).tabbed-pane-nav-item-button.a2 Bảng 
        li.tabbed-pane-nav-item
          a.disabled.tabbed-pane-nav-item-button.a1 Thành viên 
    .tabbed-pane-
      .container

        .members(style='margin-top:20px;')
          h4 Thành viên của nhóm (
            span#count=members.length 
            span )
          p Các thành viên trong nhóm có thể xem và tham gia tất cả các bảng Nhóm Hiển Thị và tạo ra các bảng mới trong nhóm.
        
          .input-group.mb-3
            input#add.form-control.col-8(placeholder='Thêm thành viên mới...' name='field')

          ul#result.list-group
              //- if data 
                //-   each _user in data
                //-     li.list-group-item _user.displayName
        .out-group
          form(action='/group/remove' method='POST')
            input(value=group._id name='groupId' style="display:none")
            button.btn.btn-secondary Rời khỏi nhóm 
        .org-members-list
          if members
            each _member in members
              
              .member-list-item-detail
                .member.member-no-menu
                  span.member-initials MB
                .details
                  p.name-line
                    span.full-name(style="font-weight:600;")= _member.displayName 
                  p.u-bottom.quiet
                      span= _member.email
                // .options
                //   a.option.button-link.remove-button(href='#' style='color:#172b4d') Lo&#x1EA1;i b&#x1ECF;...

      
        script.
          $(document).ready(function(){
            $('#add').keyup(function(){
              var value = $(this).val();
              $('#result').html('');
              console.log(value);
              var groupId=($('#groupId').attr('groupId'));
              $.ajax({
                url: "/search/allUser",
                method: 'POST',
                dataType: "json",
                data: { name: value, groupId: groupId},
                success: function(data){
                  console.log(data);
                  data.forEach(user =>{
                    $('#result').append("<li userId="+ user._id+" class='list-group-item' style=' display:flex; '><img src='/image/group.png' style='height:40px;width:40px;' class='img-thumbnail'><div style='margin-left: 15px;'><div style='font-weight: 600;'>"+ user.displayName+ "</div><div style='font-size: 14px;color:#777;'>"+user.email+"</div></div></li>")
                  })
                },
                eror: function(err){
                  console.log(err.status);
                }
              });
            });

            $('#result').on('click','li',function(){
              var click_text =$(this).text();
              $('#add').val('');
              var userId=($(this).attr('userId'));
              var groupId=($('#groupId').attr('groupId'));
              $('#result').html('');
              var num = Number($("#count").text()) + 1;
              $("#count").text(num);
              $.ajax({
                url: "/group/addMember",
                method: 'POST',
                dataType: "json",
                data: { groupId: groupId, userId: userId},
                success: function(data){
                  console.log(data);
                  $('.org-members-list').append('<div class="member-list-item-detail"><div class="member member-no-menu"><span class="member-initials">MB</span></div><div class="details"><p class="name-line"><span class="full-name" style="font-weight:600;">'+data.displayName+'</span></p><p class="u-bottom quiet"><span>'+data.email+'</span></p></div></div>')
                }
              });
            })
          })
          //- $( function() {
          //-   $( "#add" ).autocomplete({
          //-     source: function(req,res){
          //-       $.ajax({
          //-         url: "/search/allUser",
          //-         dataType: "jsonp",
          //-         type: "GET",
          //-         data:req,
          //-         success: function(data){
          //-           res(data)
          //-         },
          //-         eror: function(err){
          //-           console.log(err.status);
          //-         }
          //-       });
          //-     },
          //-     minLength:1,
          //-     select: function(event,ui){
          //-       if(ui.item){
          //-         $('#add').val(ui.item.label);
          //-       }
          //-     }


          //-   });
          //- });

        
        